html {
    height: 100%;
}

/* alternative approach - fix or remove RR*/

/*html body {*/
/*height: 100%;*/
/*overflow: hidden;*/
/*display: flex;*/
/*flex-direction: column;*/
/*}*/

/*html body .container-fluid.body-content {*/
/*width: 100%;*/
/*overflow-y: auto;*/
/*margin-top: 20px;*/
/*}*/

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 55px;
}

nav {
    position: absolute;
    top: 55px;
    left: 0;
    width: 100px;
    bottom: 0;
    margin-top: 20px;
    box-sizing: border-box;
}

section {
    position: absolute;
    top: 55px;
    left: 140px;
    right: 0;
    bottom: 0;
    margin-top: 20px;
}

header {
    background-color: #a9c2d8;
    width: 100%;
}

footer {
    background-color: #7BB87B;
    min-height: 30px;
    width: 100%;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #CDDFEE;
}

.thead-default {
    background-color: #a9c2d8;
}

.dqmsSelect {
    color: #337ab7;
}

.logout {
    background-color: #a9c2d8;
    color: white;
}

/*querychain marker*/
.qchain {}

.qchain-dq {
    background-color: #F8DFCE;
}
.qchain-gmc {
    background-color: #D7E6F3;
}
/* this isn't doing it's job to centre the text - fix or remove RR*/
.appName {
    width: 100%;
    align-content: space-around;
    text-align: justify;
    color: #fbfbfb;
    display: inline;
}

/* this is NOT RECOMMENDED way of overriding bootstrap font size - fix and remove RR*/
* {
    font-size: 11px;
    /*line-height: 2;*/
}

.dqmsButton{
    background-color: #337ab7;
    font-size: 12px;
}

/*failureTable pallete deep-red-> color: #a94442;*/
.table-failure-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #f2dede;
}

.thead-failure-default {
    background-color: #ebccd1;
}

.ok-default {
    background-color: #C0DAB5;
}
.archived-default {
    background-color: #747474;
}
.responded-default {
    background-color: #EBC06D;
}
.resolved-default {
    background-color: #C0DAB5;
}
.failure-default {
    background-color: #ebccd1;
}

.bootstrap-dialog.type-success .modal-header {
    background-color: #7BB87B;
    text-decoration-color: #000000;
}

.cursorPointer {
    cursor: pointer;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.error{
    color: #b62727;
}
.noneDisplay {
    display: none;
}