<div id="qChainModal" class="modal fade">
    <div class="modal-dialog .modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                @*<h5 class="modal-title"><strong>Query Chain</strong><div class="text-left">ABC-123</div></h5>*@
                <h5 class="modal-title">Query Chain</h5><div id="qChainIssueId" class="text-left">ABC-123</div>
            </div>
            <div class="modal-body">
                <table id="qChainTable" class="table table-bordered order-column" cellspacing="0" >
                    <tbody id="qChainTableBody">
                        <tr class="qchain-dq">
                            <td> OPEN </td>
                            <td> 13-Mar-2017 15:01 </td>
                            <td> user </td>
                            <td colspan="5"></td>
                        </tr>
                        <tr>
                            <td colspan="8" class="qchain-dq"> DOB is missing for this participant. Please provide DOB </td>
                        </tr>
                        <tr/>
                        <tr class="qchain-gmc">
                            <td> RESPONDED </td>
                            <td> 14-Mar-2017 09:11 </td>
                            <td> user </td>
                            <td colspan="5"> </td>
                        </tr>
                        <tr class="qchain-gmc">
                            <td colspan="8"> DOB provided </td>
                        </tr>
                        <tr/>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>