@import domain._
@import org.pac4j.core.profile.CommonProfile

@(issueList: Seq[Issue], profiles: List[CommonProfile], baseUrl: String)
@*
* Call the `main` with arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@

@*
JUST A SIMPLE VIEW AS PART OF WORKFLOW DEFINITION
*@
@main("Issue Resolution System", baseUrl) {
    <script>
            $(function () {
                $('#uiIssuesTable').DataTable();
            });
    </script>

        <table id="uiIssuesTable" class="table table-striped table-bordered" cellspacing="0" >
            <thead class="thead-default">
                <tr>
                    <th > Status </th>
                    <th > Issue Id </th>
                    <th > Date Logged </th>
                    <th > Issue Origin </th>
                    <th > GMC </th>
                    <th > Description </th>
                    <th > FamilyId </th>
                </tr>
            </thead>
            <tbody>
            @for(issue <- issueList) {
                <tr>
                    <td>@issue.status</td>
                    <td>@issue.issueId</td>
                    <td>@issue.dateLogged</td>
                    <td>@issue.dataSource</td>
                    <td>@issue.gmc</td>
                    <td>@issue.description</td>
                    <td>@issue.familyId</td>
                </tr>
            }
        </table>
}

   <script>
    $(function(){
         $('#uiIssuesTable').DataTable();
         });
   </script>
