@import domain._

@(issueList: List[LoggedIssue])
@*
* Call the `main` with arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@

@*
JUST A SIMPLE VIEW AS PART OF WORKFLOW DEFINITION
*@
@main("Issue Resolution System") {
    <script>
            $(function () {
                $('#issuesTable').DataTable();
            });
    </script>

        <table id="issuesTable" class="table table-striped table-bordered" cellspacing="0" >
        @*<table id="issuesTable"  cellspacing="0" >*@
            <thead class="thead-default">
            @*<thead >*@
                <tr>
                    <th > Status </th>
                    <th > Id </th>
                    <th > Logged By </th>
                    <th > Date Logged </th>
                    <th > Issue Origin </th>
                    <th > GMC </th>
                    <th > Description </th>
                    <th > FamilyId </th>
                </tr>
            </thead>
            <tbody>
            @for(issue <- issueList) {
                <tr>
                    <td>@issue.status</td>
                    <td>@issue.id</td>
                    <td>@issue.loggedBy</td>
                    <td>@issue.dateLogged</td>
                    <td>@issue.issueOrigin</td>
                    <td>@issue.GMC</td>
                    <td>@issue.description</td>
                    <td>@issue.familyId</td>
                </tr>
            }
        </table>
}

   <script>
    $(function(){
         $('#issuesTable').DataTable();
         });
   </script>
